---
name: goreleaser

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version To Tag
        required: true
        default: ""

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5
        with:
          go-version: 1.17.13
      - name: Set version tag
        run: |
          # go install github.com/miniscruff/changie@latest
          # go install github.com/release-lab/whatchanged/cmd/whatchanged@latest
          # whatchanged --output CHANGELOG.md
          export GORELEASER_CURRENT_TAG="${{ github.event.inputs.version }}" && echo $GORELEASER_CURRENT_TAG >> $GITHUB_ENV
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@5742e2a039330cbb23ebf35f046f814d4c6ff811 # v5
        with:
          # either 'goreleaser' (default) or 'goreleaser-pro'
          distribution: goreleaser
          version: latest
          args: release --rm-dist --skip-validate
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
